*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prueba{
    color: red;
}

.login-form{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-inner{
    padding: 15px 15px;
    background-color:#e9e8ff;
    width: 35rem;
    border-radius: 10px;
}

.user-edit-form{
    padding: 15px 15px; background-color:#e9e8ff; width: 35rem; border-radius: 10px;
}

.create-user-form{
    width: 70rem;
}

.create-company-form{
    width: 90rem;
}

.user-card-group{
    align-items: center;justify-content: space-evenly;height: 80vh;flex-direction: column;margin-top: 23cm;
}

.card-body{
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 50px;
    width: 18rem;
    height: 22rem;
}

.card{
    width:800px; 
    margin:0 auto;
}