{% extends "base.html" %}

{% block title %}
Acerca de nosotros
{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
      Acerca de Nosotros
    </div>
    <div style="height: 15cm;">
      <h5 class="card-title" style="text-align:center; margin-top: 2vh" >Encuentra lo que Buscas</h5>
      <p class="card-text"><strong>Encuentra lo que buscas</strong> es una página en el cuál puedes crear un perfil para tu empresa y publicitarla, de esta forma otros usuarios que se registren en busca de una empresa en el que trabajar puedan contactarse con ustedes ó viceversa 😁.</p>
      <img src="{% for image in img %} {{image.img.url}} {% endfor %}" class="card-text" alt="Imagen" style="border-radius: 10px; max-width: 20cm;">
      <a href="/" class="btn btn-primary" style="margin-top: 2vh">Volver al incio</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
</div>
{% endblock %}