{% extends "base.html" %}

{% block title %}
Categoría: Usuarios
{% endblock %}

{% block content %}
    <h1 class="text-center" style="margin: 20px 0px; font-size: 75px;">Todos los usuarios</h1>
    {% for usuario in usuarios %}
        <div class="card" style="width:15cm; margin:0 auto; margin-bottom: 10px; border-radius: 20px;">
            <img class="card-img-top" src="{{usuario.data_users.image.url}}" alt="Foto de perfil de usuario" style="border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
                <p class="card-text">Username: {{usuario.username}}</p>
                <p class="card-text">Correo: {{usuario.email}}</p>
                <p class="card-text">Nacimiento: {{usuario.data_users.birthday}}</p>
                <p class="card-text">Género: {{usuario.data_users.gender}}</p>
                <a href="#" class="btn btn-primary">Añadir como amigo</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}