{% extends "TEMPLATES/base.html" %}

{% block title %}
login
{% endblock %}

{% block content %}
<h5>Crea un Usuario</h5>
<form class="needs-validation" novalidate action="" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Nombre de la Empresa</label>
        <input type="text" class="form-control" name="name" value="For example S.A.C." required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="exampleInputEmail1">Email de contacto de la Empresa</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value="forexample@email.com" required>
        <small id="emailHelp" class="form-text text-muted">No compartiremos sus datos con nadie.</small>
      </div class="valid-feedback">

    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Nombre completo del CEO de la Empresa</label>
        <input type="text" class="form-control" name="CEO" required>
        <div class="invalid-feedback">
          Please provide a valid name.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom03">Dirección de la Empresa</label>
        <input type="text" class="form-control" name="ubicacion" required>
        <div class="invalid-feedback">
          Please provide a valid ubication.
        </div>
      </div>

      <div class="col-md-2 mb-2">
        <label for="validationCustom05">Número de contacto de la empresa</label>
        <input type="text" class="form-control" name="numero" required>
        <div class="invalid-feedback">
          Please provide a valid number.
        </div>
      </div>
    </div>
    
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock %}