{% extends "TEMPLATES/base.html" %}

{% block title %}
Crear: Usuario
{% endblock %}

{% block content %}
  <div class="login-form">
    <form class="needs-validation login-form-inner create-user-form" novalidate action="" method="POST" enctype="multipart/form-data">
        <h1 class="text-center">Registrar un usuario</h1>
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom01">Usuario</label>
            <input type="text" class="form-control" name="username" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value="forexample@email.com" required>
            <small id="emailHelp" class="form-text text-muted">No compartiremos sus datos con nadie.</small>
          </div class="valid-feedback">

        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Nombres</label>
            <input type="text" class="form-control" name="first_name" required>
            <div class="invalid-feedback">
              Please provide a valid first name.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Apellidos</label>
            <input type="text" class="form-control" name="last_name" required>
            <div class="invalid-feedback">
              Please provide a valid last name.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom03">Contraseña</label>
            <input type="password" class="form-control" name="password1" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
            <label for="validationCustom03">Repite la contraseña Contraseña</label>
            <input type="password" class="form-control" name="password2" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
          </div>

          <div class="col-md-2 mb-2" style="margin-left:2rem">
            <label for="validationCustom05">Nacimiento</label>
            <input type="text" class="form-control" name="birthday" required>
            <div class="invalid-feedback">
              Please provide a valid date.
            </div>
          </div>
          <div class="col-md-2 mb-2" style="margin-left:2rem">
            <label for="validationCustom04">Género</label>
            <select class="custom-select" name="gender" required>
              <option selected disabled value="">Choose...</option>
              <option>Masculino</option>
              <option>Femenino</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid gender.
            </div>
          </div>
          <div class="col-md-2 mb-2" style="margin-left:2rem">
            <label for="validationCustom04">Género</label>
            <select class="custom-select" name="category" required>
              <option selected disabled value="">Choose...</option>
              <option>Empresa</option>
              <option>Usuario</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid gender.
            </div>
          </div>
        
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" name="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </div>
  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock %}