{% extends "base.html" %}

{% block title %}
Crear: Empresa
{% endblock %}

{% block content %}
  {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>¡Lo sentimos!</strong> Ha ocurrido un error inesperado, por favor recargue la página y vuelva a intentarlo. <strong> Nota:</strong> Recuerde usar los caracteres correctos en cada campo.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% elif exists %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>¡Oh no!</strong> parece que el nombre de su empresa ya <strong>se encuentra registrado</strong> Consulte con un administrador para solucionar el problema.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <div class="login-form">
    <form class="needs-validation login-form-inner create-company-form" novalidate action="" method="POST" enctype="multipart/form-data">
      <h1 class="text-center">Registrar una empresa</h1>
      {% csrf_token %}

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Nombre de la Empresa</label>
          <input type="text" class="form-control" name="name" value="For example S.A.C." required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="exampleInputEmail1">Email de contacto de la Empresa</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value="forexample@email.com" required>
          <small id="emailHelp" class="form-text text-muted">No compartiremos sus datos con nadie.</small>
        </div class="valid-feedback">
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Nombre completo del CEO de la Empresa</label>
          <input type="text" class="form-control" name="CEO" required>
          <div class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Dirección de la Empresa</label>
          <input type="text" class="form-control" name="ubicacion" required>
          <div class="invalid-feedback">
            Please provide a valid ubication.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-check col-md-6 mb-3" style="padding-left: 25px;">
          <input class="form-check-input" type="checkbox" value="" name="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom05">Número de contacto de la empresa</label>
          <input type="tel" class="form-control" name="numero" pattern="[0-9-+() ]{1,20}" required>
          <div class="invalid-feedback">
            Solo puede ingresar números, espacios y <strong>-,(),+</strong> con una cantidad máxima de 20 caracteres.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </div>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock %}