{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
    {% if empty %}
        <div class="alert alert-warning" role="alert">
            Debe ingresar algo para buscar
        </div>
    {% endif %}
    {% if context %}
        {{message}}
    {% endif %}
    {% if request.user.is_authenticated %}
        ¡¡Bienvenido a <strong>EncuentraLoQueBuscas</strong> {{request.user}}!!
    {% else %}
        ¡¡Bienvenido a <strong>EncuentraLoQueBuscas</strong>!!
    {% endif %}
{% endblock %}