{% extends "base.html" %}

{% block title %}
login
{% endblock %}

{% block content %}
    <main>
        <div class="login-form">
            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Usuario y/o contraseña incorrecto, por favor vuelva a intentarlo. <a href="/signup" class="alert-link">Si no esta registrado puede hacerlo desde aquí.</a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form class="login-form-inner" action="" method="POST">
                {% csrf_token %}
                <h1 class="text-center">Iniciar sesión</h1>
                <div class="form-group">
                    <label for="USERNAME">Usuario</label>
                    <input type="text" class="form-control" name="username" required>
                    <small id="usernamelHelp" class="form-text text-muted">Ingrese su nombre de usuario.</small>
                </div>
                <div class="form-group">
                    <label for="PASSWORD">Contraseña</label>
                    <input type="password" class="form-control" name="password" required>
                    <small id="passwordlHelp" class="form-text text-muted">Ingrese su contraseña.</small>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                    <a href="/signup"><small id="passwordlHelp" style="margin-left: 10.7cm">¿No estás registrado?</small></a>
                </div>
                
            </form>
        </div>
    </main>
{% endblock %}