{% extends "base.html" %}

{% block title %}
Categoría: Usuarios
{% endblock %}

{% block content %}
<style>
    .profile-image {
        border:5px solid rgba(44, 43, 43, 0.247);
        border-radius: 20px;
        height: 270px;
        width:270px;
    }
</style>
<h2 style="text-align: center; margin-top: 5vh;"><u>!Estas viendo el perfil de {{request.user.username}}!</u></h2>
<div style="margin-left: 3cm; margin-right: 3cm; margin-top: 5vh;">
    <form style="padding: 15px 15px; background-color:#e9e8ff; border-radius: 10px;">
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre de usuario</label>
            <input readonly type="text" class="form-control" name="usuarioname" value="{{usuario}}">           
            <label for="inputPassword4" style="margin-top: 15px">Biografía</label>
            {% if usuario.related.ocupacion == None %}
                <textarea readonly type="password" class="form-control" name="password2" rows="6" placeholder="Este usuario no ha definido su biografía"></textarea>
            {% else %}
                <textarea readonly type="password" class="form-control" name="password2" rows="6">{{usuario.related.biografia}}</textarea>
            {% endif %}
            </div>
            <div class="form-group col-md-6">
            <div style="margin-right: auto; margin-left: auto; width: 320px;">
                <img class="profile-image" src="{{usuario.related.image.url}}" alt="Foto de perfil de usuario">
            </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress">Nombres</label>
                <input readonly type="text" class="form-control" name="first_name" value="{{usuario.first_name}}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress">Apellidos</label>
                <input readonly type="text" class="form-control" name="last_name" value="{{usuario.last_name}}">
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress">Email</label>
                <input readonly type="email" class="form-control" name="email" value="{{usuario.email}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAddress2">Ocupación</label>
                {% if usuario.related.ocupacion == None %}
                    <input readonly type="text" class="form-control" name="ocupacion" value="Este usuario no ha definido su ocupación">
                {% else %}
                    <input readonly type="text" class="form-control" name="ocupacion" value="{{usuario.related.ocupacion}}">
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress2">Número telefónico</label>
                {% if usuario.related.numero == None %}
                    <input readonly type="tel" class="form-control" name="numero" pattern="[0-9-+() ]{1,20}" value="Este usuario no ha definido su número telefónico">
                {% else %}
                    <input readonly type="tel" class="form-control" name="numero" pattern="[0-9-+() ]{1,20}" value="{{usuario.related.numero}}">
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="inputAddress">Dirección</label>
                {% if usuario.related.address == None %}
                    <input readonly type="text" class="form-control" name="address" value="Este usuario no ha definido su dirección">
                {% else %}
                    <input readonly type="text" class="form-control" name="address" value="{{usuario.related.address}}">
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">País de Nacimiento</label>
                {% if usuario.related.pais == None %}
                    <input readonly type="text" class="form-control" name="pais" value="Este usuario no ha definido su nacionalidad">
                {% else %}
                    <input readonly type="text" class="form-control" name="pais" value="{{usuario.related.pais}}">
                {% endif %}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Género</label>
                <input readonly name="genero" class="form-control" value="{{usuario.related.gender}}">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Ciudad</label>
                {% if usuario.related.ciudad == None %}
                    <input readonly type="text" class="form-control" name="ciudad" value="Este usuario no ha definido su ciudad">
                {% else %}
                    <input readonly type="text" class="form-control" name="ciudad" value="{{usuario.related.ciudad}}">
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% if business %}
    <h2 style="text-align: center; margin-top: 5vh;"><u>Empresas creadas por este usuario</u></h2>
    <div class="card" style="width:15cm; margin:0 auto; margin-bottom: 10px; border-radius: 20px;">
        <img class="card-img-top" src="{{business.image.url}}" alt="Foto de perfil de usuario" style="border-radius: 20px;">
        <div class="card-body">
            <h1 class="card-title" style="font-style: italic;"><u>{{business.name}}</u></h5>
            <p class="card-text"><strong>CEO:</strong> {{business.CEO}}</p>
            <p class="card-text"><strong>Correo:</strong> {{business.email}}</p>
            <p class="card-text"><strong>Ubicación:</strong> {{business.ubicacion}}</p>
            <p class="card-text"><strong>Número:</strong> {{business.numero}}</p>
            <a href="#" class="btn btn-primary" style="position: absolute;top:94.7%;right: 0;margin-right: 25px;border-radius: 9px;width: auto;transform: translateY(-50%);">contactar a {{business.name}}</a>
        </div>
    </div>
{% endif %}
{% endblock %}